setuptools==57.5.0
wheel==0.37.1
Cython==0.29.24
rasa==1.10.2
rasa-sdk==1.10.2
python-socketio==4.6.0
python-engineio==3.13.2
transformers==3.0.2
spacy==2.2.4
numpy==1.19.5
scikit-learn==0.24.2
tensorflow==2.3.4